@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); 

*{
    margin: 0px;
    padding: 0px;
    --Yellow: #f4d04e;
    --Gray-950: #111111;
    --Gray-500: #6b6b6b;
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
}
a{text-decoration: none;
color: var(--Gray-950);
}
h1{
    font-size: 24px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0px;
}
.text-2{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--Gray-500);
}
.text-3{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}
.text-3-bold{
    font-weight: 700;
    font-size: calc(12px + .2vmin);
    line-height: 150%;
    letter-spacing: 0px;
}
body{
    height: 100vh;
    background-color: var(--Yellow);
    display: grid;
    grid-template-rows: 1fr 20px;

}
.card{
    border: #111111 solid 1px;
    padding: 24px;
    width: 384px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tag{
    background-color: var(--Yellow);
    flex:  1 1 auto;
    padding: 6px 16px;
    border-radius: 6px;
    width: fit-content;
}
.header-img{
    height: 200px;
    border-radius: 10px;
}
.content{
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-top: 20px;
}
.user-container{
    display: flex;
    align-items: center;
    gap: 16px;
}
.profile-img{
    width: 32px;
}
h1:hover{
    color: var(--Yellow);
}